## Day 019 作業：DataFrame 的排序及顯示

同 Day 017，請載入 2020/4/2 COVID-19 Daily Report 資料集，計算每個國家/區域的累計確診人數。

請依確診案例數，列出截至4月2日為止 (UTC 時間)，確診案例最多的10個國家/區域。

In [1]:
using DataFrames, CSV

In [5]:
df = CSV.read("../../data/04-02-2020.csv")
first(df, 10)

10×12 DataFrame. Omitted printing of 8 columns
│ Row │ FIPS   │ Admin2    │ Province_State │ Country_Region │
│     │ Int64⍰ │ String⍰   │ String⍰        │ String         │
├─────┼────────┼───────────┼────────────────┼────────────────┤
│ 1   │ 45001  │ Abbeville │ South Carolina │ US             │
│ 2   │ 22001  │ Acadia    │ Louisiana      │ US             │
│ 3   │ 51001  │ Accomack  │ Virginia       │ US             │
│ 4   │ 16001  │ Ada       │ Idaho          │ US             │
│ 5   │ 19001  │ Adair     │ Iowa           │ US             │
│ 6   │ 29001  │ Adair     │ Missouri       │ US             │
│ 7   │ 40001  │ Adair     │ Oklahoma       │ US             │
│ 8   │ 8001   │ Adams     │ Colorado       │ US             │
│ 9   │ 16003  │ Adams     │ Idaho          │ US             │
│ 10  │ 17001  │ Adams     │ Illinois       │ US             │

In [20]:
# 請在此輸入程式碼
df_sorted = sort(by(df, :Country_Region, :Confirmed => sum), :Confirmed_sum, rev = true)
first(df_sorted, 10)

10×2 DataFrame
│ Row │ Country_Region │ Confirmed_sum │
│     │ String         │ Int64         │
├─────┼────────────────┼───────────────┤
│ 1   │ US             │ 243453        │
│ 2   │ Italy          │ 115242        │
│ 3   │ Spain          │ 112065        │
│ 4   │ Germany        │ 84794         │
│ 5   │ China          │ 82432         │
│ 6   │ France         │ 59929         │
│ 7   │ Iran           │ 50468         │
│ 8   │ United Kingdom │ 34173         │
│ 9   │ Switzerland    │ 18827         │
│ 10  │ Turkey         │ 18135         │