## Day 20 作業：將 missing 值替代為其他值

由於現實世界中的資料可能有缺漏，因此資料中就會有 missing 值存在，而在資料科學及機器學習中，缺漏值的處理關係到分析或預測的結果。

在今天的作業中，請將資料集中的年齡缺漏值，依性別分別替換為資料集中男性或女性的年齡平均值。

本次作業使用的資料集：Kaggle Titanic: Machine Learning from Disaster 的 train 資料集

競賽主頁：[https://www.kaggle.com/c/titanic/overview](https://www.kaggle.com/c/titanic/overview)

請自行下載資料集 **train.csv**：[https://www.kaggle.com/c/titanic/data](https://www.kaggle.com/c/titanic/data)

In [1]:
using DataFrames, CSV

In [2]:
df = CSV.read("train.csv")
show(df[1:5], allcols=true)

┌ Warning: `getindex(df::DataFrame, col_inds::Union{AbstractVector, Regex, Not})` is deprecated, use `df[:, col_inds]` instead.
│   caller = top-level scope at In[2]:2
└ @ Core In[2]:2

891×5 DataFrame
│ Row │ PassengerId │ Survived │ Pclass │
│     │ Int64       │ Int64    │ Int64  │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
⋮
│ 881 │ 881         │ 1        │ 2      │
│ 882 │ 882         │ 0        │ 3      │
│ 883 │ 883         │ 0        │ 3      │
│ 884 │ 884         │ 0        │ 2      │
│ 885 │ 885         │ 0        │ 3      │
│ 886 │ 886         │ 0        │ 3      │
│ 887 │ 887         │ 0        │ 2      │
│ 888 │ 888         │ 1        │ 1      │
│ 889 │ 889         │ 0        │ 3      │
│ 890 │ 890         │ 1        │ 1      │
│ 891 │ 891         │ 0        │ 3      │

│ Row │ Name                                                │ Sex    │
│     │ String                                              │ String │
├─────┼─────────────────────────────────────────────────────┼────────┤
│ 1   │ Braund, Mr. Owen Harris                             │ male   │
│ 2   │ Cumings, Mrs. John Bradley (Florence Briggs Thayer) │ female │
│ 3   │ Heikkinen, Miss. Laina                              │ female │
│ 4   │ Futrelle, Mrs. Jacques Heath (Lily May Peel)        │ female │
│ 5   │ Allen, Mr. William Henry                            │ male   │
│ 6   │ Moran, Mr. James                                    │ male   │
│ 7   │ McCarthy, Mr. Timothy J                             │ male   │
│ 8   │ Palsson, Master. Gosta Leonard                      │ male   │
│ 9   │ Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   │ female │
│ 10  │ Nasser, Mrs. Nicholas (Adele Achem)                 │ female │
⋮
│ 881 │ Shelley, Mrs. William (Imanita Parrish Hall)        │ female │
│ 882 │ Markun, Mr. Johann                                  │ male   │
│ 883 │ Dahlberg, Miss. Gerda Ulrika                        │ female │
│ 884 │ Banfield, Mr. Frederick James                       │ male   │
│ 885 │ Sutehall, Mr. Henry Jr                              │ male   │
│ 886 │ Rice, Mrs. William (Margaret Norton)                │ female │
│ 887 │ Montvila, Rev. Juozas                               │ male   │
│ 888 │ Graham, Miss. Margaret Edith                        │ female │
│ 889 │ Johnston, Miss. Catherine Helen "Carrie"            │ female │
│ 890 │ Behr, Mr. Karl Howell                               │ male   │
│ 891 │ Dooley, Mr. Patrick                                 │ male   │

In [3]:
size(df)

(891, 12)

呼叫 `describe()` 函式時，加上 `:nmissing` 參數，顯示各 column 的 missing 值數目。

可以看到 Age 共有 177 個缺漏值。

In [4]:
describe(df, :nmissing)

12×2 DataFrame
│ Row │ variable    │ nmissing │
│     │ Symbol      │ Union…   │
├─────┼─────────────┼──────────┤
│ 1   │ PassengerId │          │
│ 2   │ Survived    │          │
│ 3   │ Pclass      │          │
│ 4   │ Name        │          │
│ 5   │ Sex         │          │
│ 6   │ Age         │ 177      │
│ 7   │ SibSp       │          │
│ 8   │ Parch       │          │
│ 9   │ Ticket      │          │
│ 10  │ Fare        │          │
│ 11  │ Cabin       │ 687      │
│ 12  │ Embarked    │ 2        │

計算男性及女性的平均年齡。

【提示】使用 `skipmissing()` 去掉缺漏值後，再計算平均值。

In [5]:
using Statistics

In [6]:
df_age_male = df[df[:, :Sex] .== "male", :Age];
df_age_female = df[df[:, :Sex] .== "female", :Age];

In [7]:
male_age_avg = mean(skipmissing(df_age_male)) # 請輸入程式碼

30.72664459161148

In [8]:
female_age_avg = mean(skipmissing(df_age_female)) # 請輸入程式碼

27.915708812260537

將 Age column 中的 missing 值，依性別替換為上面計算出來的平均年齡值。

【提示】可產生新的 column 來存放新的結果，而不取代掉原先的 Age column。

In [9]:
# 請輸入程式碼
df.New_Age = df[:, :Age];
df.New_Age[df.Sex .== "male"]   = coalesce.(df.New_Age[df.Sex .== "male"],   male_age_avg);
df.New_Age[df.Sex .== "female"] = coalesce.(df.New_Age[df.Sex .== "female"], female_age_avg);
df[:, [:Sex, :Age, :New_Age]]

891×3 DataFrame
│ Row │ Sex    │ Age      │ New_Age  │
│     │ String │ Float64⍰ │ Float64⍰ │
├─────┼────────┼──────────┼──────────┤
│ 1   │ male   │ 22.0     │ 22.0     │
│ 2   │ female │ 38.0     │ 38.0     │
│ 3   │ female │ 26.0     │ 26.0     │
│ 4   │ female │ 35.0     │ 35.0     │
│ 5   │ male   │ 35.0     │ 35.0     │
│ 6   │ male   │ missing  │ 30.7266  │
│ 7   │ male   │ 54.0     │ 54.0     │
│ 8   │ male   │ 2.0      │ 2.0      │
│ 9   │ female │ 27.0     │ 27.0     │
│ 10  │ female │ 14.0     │ 14.0     │
⋮
│ 881 │ female │ 25.0     │ 25.0     │
│ 882 │ male   │ 33.0     │ 33.0     │
│ 883 │ female │ 22.0     │ 22.0     │
│ 884 │ male   │ 28.0     │ 28.0     │
│ 885 │ male   │ 25.0     │ 25.0     │
│ 886 │ female │ 39.0     │ 39.0     │
│ 887 │ male   │ 27.0     │ 27.0     │
│ 888 │ female │ 19.0     │ 19.0     │
│ 889 │ female │ missing  │ 27.9157  │
│ 890 │ male   │ 26.0     │ 26.0     │
│ 891 │ male   │ 32.0     │ 32.0     │